services:
  portainer:
    image: {{ portainer_image }}
    restart: unless-stopped
    ports:
      - "{{ portainer_bind_address }}:{{ portainer_port }}:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
    name: portainer_data
