[Unit]
Description=HashiCorp Vault
Documentation=https://developer.hashicorp.com/vault/docs
After=network-online.target
Wants=network-online.target

[Service]
User={{ vault_user }}
Group={{ vault_group }}
ExecStart={{ vault_bin_path }} server -config={{ vault_config_path }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_IPC_LOCK
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ReadWritePaths={{ vault_data_dir }} {{ vault_config_dir }}
WorkingDirectory={{ vault_data_dir }}

[Install]
WantedBy=multi-user.target
